<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Ibaszz.buzztransport2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      
        <activity
            android:name=".ListV"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.Ibaszz.buzztransport2.LISTPENUMPANG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Lanjut"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.Ibaszz.buzztransport2.LANJUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DataDiri"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.Ibaszz.buzztransport2.LANJUT2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DataPemesanan"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.Ibaszz.buzztransport2.LANJUT3" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>